---
layout: job_family_page
title: "Business Systems Engineer"
---

## Business Systems Engineer
Business Systems Engineers work on custom APEX and Visualforce solutions for GitLab's Salesforce.com instance along with all packages, tools and integrations associated with it.
They work with Field Operation's internal customers such as Sales, Marketing, Customer Success and Finance to translate improvement project technical specifications into a project approach and then execute on those projects.
They work with a combined team of Business Systems Administrators, Data Analysts, and Sales Operations Specialists to keep our Go-To-Market processes automated and efficent.

### Requirements
* 2+ Years experience in a Salesforce.com Developer, Business Systems Engineer, or Backend Engineer role.
* Received or pursuing the Salesforce.com Platform Developer 1 certification.
* Experience with the Software Development Life Cycle, Source Control (Git), and Salesforce.com coding best practices.
* Understanding of the Salesforce.com data model and how to effectively extract, transform and load data.
* An inclination towards communication, inclusion, and visibility.
* Experience owning and driving a project from concept to production, including proposal, discussion, and execution.
* Self-motivated and self-managing, with strong organizational skills.
* Demonstrated ability to work collaboratively and across teams.
* Share GitLab's [values](/handbook/values), and works in accordance with those values.
* Ability to thrive in a fully remote organization.
* Ability to use GitLab

### Nice To Haves
* Knowledge of at least one other non-Apex language such as Ruby on Rails, Java, Javascript, PHP or Python.
* Experience with Zuora and Zoura CPQ.
* Salesforce.com Platform Developer 2, Architect or other advanced certifications.
* Experience working at a subscription based product company.
* Experience working in an Agile team work environment.

### Responsibilities
* Work alongside Business System Administrators to turn business requirements into technical specfications and project approach.
* Develop APEX and Visualforce solutions that follow Salesforce.com best practices and templating.
* Communicate and collaborate with other technical resources across GitLab.
* Recognize impediments to our efficiency as a team ("technical debt"), propose and implement solutions.
* Particpate in team code reviews, user acceptence testing and maintain excellent documentation of all work.
* Advocate for improvements to product quality, security, and performance.
* Respond quickly to bugs and the direction of Sales Systems and Field Operations managers.

<%= partial("job-families/sales/performance", :locals => { :roleName => "Business Systems Engineer" }) %>

## Levels
Read more about [levels](/handbook/hiring/#definitions) at GitLab here.

### Business Systems Engineer

See the requirements and responsibilities outlined above.

### Job Grade

The Business Systems Engineer is a [grade 6](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Senior Business Systems Engineer

The Senior Business Systems Engineer role extends the Business Systems Engineer role.

#### Job Grade

The Senior Business Systems Engineer is a [grade 7](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

#### Requirements
* 2+ Years experience in a Business Systems Engineer role.
* 5+ Years experience in Salesforce.com Developer, Business Systems Engineer, or Backend Engineer role.
* Received or pursuing the Salesforce.com Platform 2 certification.
* Proven track record of driving projects to timely completion with end user accepted deliverables.

## Career Ladder

The Business Systems Engineer Job Family would move into the [Sales Systems Leadership](/job-families/sales/senior-manager-sales-systems/) Job Family.

#### Hiring Process
* Candidates for this position can expect the hiring process to follow the order below. Please keep in mind that candidates can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find their job title on our [team page](/company/team/).
* Additional details about our process can be found on our [hiring page](/handbook/hiring).
* Initial phone/video screen from a GitLab Talent Acquisition professional
* Phone/video interview with hiring manager and typically two additional GitLab team member
* Final interview with 1+ GitLab executives
* Reference checks
